#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 8px 15px;
  }

  .active-link {
    border: thin solid tomato;
    background-color: rgba(209, 0, 174, 0.5);
    color: #fafafa;
  }
}

.active-link-secondary {
  text-decoration: underline;
  color: #fafafa;
}
